.adminlogin-base{
    background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-digital-technology-technology-lines-blue-see-a-century-of-technology-picture-image_1478785.jpg);
    background-size: 100% 100%;
}

.adminlogin-main{
    margin: 80px 0;
    border: 2px solid black;
    padding: 30px 10px 15px 10px;
    border-radius: 10px;
    background: rgba(181, 180, 180, 0.466);
    text-align: center;
}

.adminlogin-base input{
    display: block;
    margin: auto;
    width: 90%;
    font-size: 23px;
    padding: 3px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.adminlogin-base button{
    display: block;
    margin: auto;
    font-size: 23px;
    padding: 3px 20px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-weight: bold;
}

