.login-base{
    background-image: url(https://thumbs.dreamstime.com/z/interior-living-room-wall-mock-up-background-modern-mockup-furniture-decor-168482519.jpg);
    background-size: 100% 100%;
}

.login-main{
    margin: 80px 0;
    border: 2px solid black;
    padding: 30px 10px 15px 10px;
    border-radius: 10px;
    background: rgba(181, 180, 180, 0.466);
    text-align: center;
}

.login-base input{
    display: block;
    margin: auto;
    width: 90%;
    font-size: 23px;
    padding: 3px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.login-base button{
    display: block;
    margin: auto;
    font-size: 23px;
    padding: 3px 20px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-weight: bold;
}

